.text-center{
    text-align: center;
  }
  /* .bg-black{
    background-color: #1c9788;
  } */
  .max-auto{
    margin: auto;
  }
  .flex{
    display: flex;
    justify-content: center;
  }
  .flex-col{
    flex-direction: column;
  }
  .items-center{
    align-items: center;
  }